:root {
  --navy-shadow: rgba(30, 30, 46, 0.7);
  --background-color: #333347;
  --lightest-grey: #6b6b7f;
  --light-grey: #4e4e62;
  --lightest-slate: #eaf2ff;
  --light-slate: #d6defa;
  --slate: #bdc5e1;
  --dark-slate: #aab2ce;
  --theme-color: #94e2d5;

  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(40px, 8vw, 80px);

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  @media screen and (max-width: 480px) {
    --tx2large: 25px;
    // --tgiant: 40px;
  }
}
