.about {
  margin: 15rem 0;
  .title {
    font-family: var(--raleway);
    color: var(--lightest-slate);
    position: relative;
    h2 {
      margin-bottom: 2rem;
      font-size: var(--tx2large);
      font-weight: 700;
      span {
        color: var(--theme-color);
        font-weight: 500;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        width: 300px;
        background-color: var(--lightest-blue);
        height: 2px;
        margin-left: 220px;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-text {
        color: var(--slate);
        margin-right: 10%;
        font-family: var(--raleway);
        font-size: var(--tlarge);
        letter-spacing: 0.07rem;
        line-height: 1.6rem;
        font-weight: 500;
      }
      &-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 0 6px;
        &-item {
          transition: 0.3s ease-in-out;
          &:hover {
            transform: translateY(-3px);
            filter: drop-shadow(3px 3px 0px var(--theme-color));
          }
        }
      }
    }
    &-photo {
      width: max-content;
      height: max-content;
      position: relative;
      &:hover {
        .overlay {
          background-color: #00000000;
        }
        .overlay-border {
          top: 0.5rem;
          left: 0.5rem;
        }
        img {
          filter: none;
        }
      }

      .overlay {
        z-index: 1;
        position: absolute;
        height: 350px;
        width: 350px;
        background-color: #94e2d54d;
        border-radius: 0.2rem;
        transition: 0.3s ease-in-out;
      }
      .overlay-border {
        z-index: -3;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 2px solid var(--theme-color);
        top: 1rem;
        left: 1rem;
        border-radius: 0.2rem;
        transition: 0.3s ease-in-out;
      }

      &-container {
        position: relative;
        height: 350px;
        width: 350px;
        object-fit: cover;
        img {
          z-index: 0;
          filter: grayscale(100%);
          transition: 0.3s ease-in-out;
          border-radius: 0.2rem;
        }
      }
    }
  }
}
