.contact {
  max-width: 700px;
  margin: 15rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .contact-title {
    color: var(--theme-color);
    font-size: var(--tbase);
    font-family: var(--firacode);
    font-weight: 300;
    span {
      color: var(--light-slate);
    }
  }
  .contact-sub-title {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    color: var(--light-slate);
  }
  .contact-text {
    color: var(--slate);
    font-size: var(--tlarge);
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
    font-weight: 500;
    font-family: var(--raleway);
    text-align: center;
  }
  .contact-cta {
    font-family: var(--raleway);
    margin-top: 1rem;
    display: flex;
    .btn {
      font-size: var(--tlarge);
      padding: 1rem 2rem;
    }
  }
}
