.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  min-height: 60vh;
  &-title {
    color: var(--theme-color);
    font-size: var(--tsm2);
    font-family: var(--firacode);
    font-weight: 700;
  }
  &-title-large {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    font-weight: 700;
    color: var(--light-slate);
  }
  &-title-sub {
    color: var(--lightest-slate);
    font-size: clamp(40px, 8vw, 60px);
  }
  &-text {
    color: var(--slate);
    font-family: var(--raleway);
    font-size: var(--tlarge);
    font-weight: 600;
    margin-right: 15%;
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
  }
  &-button {
    margin-top: 2rem;
    .btn {
      padding: 1rem 2rem;
      font-size: var(--tbase);
      font-family: var(--raleway);
    }
  }
}
