.hero {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  min-height: 60vh;
  &-title {
    color: var(--theme-color);
    font-size: var(--tsm2);
    font-family: var(--firacode);
    font-weight: 700;
  }
  &-title-large {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    font-weight: 700;
    color: var(--lightest-slate);
  }
  &-title-sub {
    color: var(--light-slate);
    font-size: clamp(40px, 8vw, 60px);
  }
  &-text {
    color: var(--slate);
    font-family: var(--raleway);
    font-size: var(--tlarge);
    margin-right: 30%;
    font-weight: 600;
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
  }
  &-button {
    margin-top: 2rem;
    display: flex;
    gap: 0 1rem;
    .work-btn {
      background-color: #64fad91a;
      &:hover {
        background-color: transparent;
      }
    }
    .btn {
      padding: 1rem 2rem;
      font-size: var(--tbase);
      font-family: var(--raleway);
    }
  }
  @media screen and (max-width: 1440px) {
    &-title {
      font-size: var(--tsm2);
      font-weight: 700;
    }
    &-title-large {
      font-size: var(--tgiant);
      font-weight: 700;
    }
    &-title-sub {
      font-size: clamp(40px, 8vw, 50px);
    }
    &-text {
      font-size: var(--tbase);
      margin-right: 0%;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }
    &-button {
      .btn {
        padding: 1rem 2rem;
        font-size: var(--tbase);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 4rem;
    &-text {
      width: 80%;
    }
  }
}
