nav {
  min-height: 60px;

  .wrapper {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;

    .brand {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        height: 3rem;
        width: 3rem;
        fill: none;
        color: var(--theme-color);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          fill: #64fad91a;
        }
        &:focus {
          outline-color: var(--theme-color);
          fill: #64fad91a;
        }
      }
    }

    .nav-responsive-toggle {
      display: none;
      color: var(--theme-color);
      font-size: var(--tlarge2);
      justify-content: center;
      align-content: center;
      transition: var(--transition);
      z-index: 15;
    }

    .nav-items {
      display: flex;
      align-items: center;
      gap: 3rem;
      color: var(--lightest-slate);
      font-size: var(--tsm1);
      font-family: var(--firacode);
      &-list {
        display: flex;
        gap: 3rem;
        list-style-type: none;
        &-item {
          a {
            transition: 0.3s ease-in-out;
            text-decoration: none;
            color: inherit;
            &::before {
              content: '\007B';
              color: var(--theme-color);
              font-weight: bold;
            }
            &::after {
              content: '\007D';
              color: var(--theme-color);
              font-weight: bold;
            }
          }
          a:focus {
            outline-color: --theme-color;
          }
          &:hover {
            color: var(--theme-color);
          }
        }
      }
      &-button {
        display: flex;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 0 2rem;
      .nav-responsive-toggle {
        display: flex;
      }

      .nav-items {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 0%;
        opacity: 0;
        visibility: hidden;
        top: 0;
        padding: 50px 10px;
        background-color: var(--light-grey);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: var(--transition);
        z-index: 11;
        &-list {
          flex-direction: column;
        }
      }

      .nav-responsive {
        width: min(75vw, 400px);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .blur-nav {
    height: 80px;
    position: fixed;
    top: 0;
    transition: var(--transition);
    z-index: 200;
    background-color: rgba(51, 51, 71, 0.85);
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
    backdrop-filter: blur(10px);
  }
}
