.social-icons {
  position: fixed;
  bottom: 0;
  left: 4rem;
  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-item {
      font-size: var(--tlarge2);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition);
      &-link {
        padding: 10px;
        color: var(--lightest-slate);
        transition: 0.3s ease-in-out;
        &:hover {
          color: var(--transition);
          color: var(--theme-color);
          &:focus {
            transform: translateY(-4px);
            color: var(--theme-color);
          }
        }
        &:hover {
          transform: translateY(-4px);
        }
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 130px;
      background-color: var(--lightest-slate);
      margin: 0px auto;
    }
  }
}
