.social-icons {
  position: fixed;
  bottom: 0;
  left: 4rem;
  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-item {
      font-size: var(--tlarge2);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition);
      &-link {
        padding: 10px;
        color: var(--lightest-slate);
        transition: var(--transition);
        &:hover {
          transform: translateY(-4px);
          color: var(--theme-color);
        }
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 130px;
      background-color: var(--lightest-slate);
      margin: 0px auto;
    }
  }
  @media screen and (max-width: 1080px) {
    left: 2rem;
  }
  @media screen and (max-width: 768px) {
    position: inherit;
    &-list {
      flex-direction: row;
      justify-content: center;
      &-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
      &::after {
        display: none;
      }
    }
  }
}
